HttpClient/Connected Services/LogServices/LogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfLogServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfLogServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTimestampLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimestampLog" nillable="true" type="tns:TimestampLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimestampLog" nillable="true" type="tns:ArrayOfTimestampLog" />
  <xs:complexType name="TimestampLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimestampLog" nillable="true" type="tns:TimestampLog" />
</xs:schema>